.first-cont{
    background-color: rgb(10, 10, 10);
    width: 100%;
    padding: 2px;
    margin: auto;
} 
.second-cont{
    background-color: aquamarine;
    width: 90%;
    margin: auto;
    border-radius: 50px;

} 
.third-cont{
    background-color: rgb(250, 8, 8);
    width: 90%;
    margin: auto;
    border-radius: 50px;

} 
.firth-cont {
    background-color: rgb(246, 254, 13);
    width: 90%;
    margin: auto;
    border-radius: 50px;
}
.sixth-cont{
    background-color: rgb(7, 146, 7);
    width: 90%;
    margin: auto;
    border-radius: 50px;
}
.header{
    color: blanchedalmond;
    background-color: rgb(53, 83, 251);
    text-align: center;
    width: 90%;
    padding: 10px;
    border-radius: 50px;
    margin: auto;
}